<h1> hello le monde </h1>

<H2> afficher une variable en twig</H2>
<h2> {{ title}}</h2>

<h2> condition en twig</h2>
{% if  age > 18 %}
<p> tu est un majeur cascouille  age = <strong > {{age}} </strong></p>
{% else  %}
<p> tu est mineur </p>
{% endif %}
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 


</p>
<p>
    Lorem ipsum dolor alors quil se promena cing elit. 

  
</p>
